<h1>Anagrams? Antigrams? Palindromes? What are these words?</h1>
<form action="/success">
      <label for="first_input">Enter a word:</label>
      <input id="first_input" name="first_input" type="text">
      <br>
      <label for="second_input">Enter another word:</label>
      <input id="second_input" name="second_input" type="text">
      <hr>
      <button type="submit" class="btn btn-default">Compare these words!</button>
  </form>
