<h2>Enter two words or phrases to find out if they are related</h2>
<hr>
<form action="/success">
      <label for="first_input">Enter a word or phrase:</label>
      <input id="first_input" name="first_input" type="text">
      <br>
      <br>
      <label for="second_input">Enter a word or phrase:</label>
      <input id="second_input" name="second_input" type="text">
      <br>
      <br>
      <button type="submit" class="btn btn-default">COMPARE</button>
  </form>
